{% macro form_field(field, label, errors_inline=False) -%}
<div class="control-group{% if field.errors %} error{% endif %}">
    <label class="control-label" for="name">{{ label }}</label>
    <div class="controls">
        {{ field(class_='input-large', placeholder=label) }}
    {% if field.errors %}
        <p class="help-{% if errors_inline %}inline{% else %}block{% endif %}">{{ ''.join(field.errors) }}</p>
    {% endif %}
    </div>
</div>
{%- endmacro %}

{% macro form_submit(value) -%}
<div class="control-group">
    <label class="control-label" for="nothing"></label>
    <div class="controls">
        <input class="btn btn-primary" type="submit" value="{{ value }}" />
    </div>
</div>
{%- endmacro %}
