{% extends "layout.html" %}
{% from '_helpers.html' import form_field, form_submit with context %}

{% block title %}Edit Profile{% endblock %}

{% block body %}
    <div class="row">
        {% if profile_form.csrf_token.errors or password_form.csrf_token.errors %}
        <div class="span12">
            <div class="alert alert-error">
                <strong>Forged Request Detected</strong>  If you clicked on a link and arrived here...that is bad.
            </div>
        </div>
        {% endif %}
        <div class="span6">
            <h3>Edit Profile</h3>
            <form id="profile_form" method="post" action="{{ url_for('users.profile') }}">
                {{ profile_form.hidden_tag() }}
                {{ form_field(profile_form.name, 'Name') }}
                {{ form_field(profile_form.email, 'Email') }}
                {{ form_submit('Save') }}
            </form>
        </div>

        <div class="span6">
            <h3>Change Password</h3>
            <form id="password_form" method="post" action="{{ url_for('users.change_password') }}">
                {{ password_form.hidden_tag() }}
                {{ form_field(password_form.current_password, 'Current Password') }}
                {{ form_field(password_form.new_password, 'New Password') }}
                {{ form_field(password_form.confirm_new_password, 'Confirm') }}
                {{ form_submit('Change Password') }}

            </form>
        </div>
    </div>
{% endblock %}
