{% extends "layout.html" %}

{% block title %}It Works!{% endblock %}

{% block body %}
    <h1>It Works!</h1>
    <p class="lead">If you are seeing this, then Flask is working properly.</p>
    <p>This is part of the <strong>frontend</strong> Flask application, located at <code>mold/frontend</code>.</p>
    <p>Settings for Mold are located in <code>mold/settings.py</code>.  Please change <code>SECRET_KEY</code> if you have no already done so!</p>
{% endblock %}
