<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="en" itemscope itemtype="http://schema.org/Product"> <!--<![endif]-->
    <head>

        <title>{% block title %}{% endblock %}</title>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

{% assets "css_all" %}
        <link href="{{ ASSET_URL }}" rel="stylesheet">
{% endassets %}
{% assets "js_head" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
    </head>

    <body>

        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a href="{{ url_for('frontend.index') }}" class="brand">Mold</a>
                    <ul class="nav" id="main-menu-left">
                        <li><a href="/about">About</a></li>
                    </ul>
                    <ul class="nav pull-right" id="main-menu-right">
                    {% if not g.logged_in %}
                        <li><a href="{{ url_for('users.login') }}" class="login">Login</a></li>
                    {% else %}
                        <li><a href="{{ url_for('users.profile') }}" class="profile">Profile</a></li>
                        <li><a href="{{ url_for('users.logout') }}" class="logout">Logout</a></li>
                    {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        {% if g.logged_in %}
        <div class="subnav subnav-fixed navbar-fixed-top">
            <div class="container">
                <span id="welcome-message" class="pull-right">
                    You are logged in as <strong>{{ g.current_user.name }}</strong>
                </span>
            </div>
        </div>
        {% endif %}
        <div id="main" class="container">
            {% for category, message in get_flashed_messages(with_categories=true) %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
            {% endfor %}
            {% block body %}{% endblock %}
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
{% assets "js_body" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
    </body>
</html>
