{% extends "layout.html" %}
{% from '_helpers.html' import form_field, form_submit with context %}

{% block title %}Login{% endblock %}

{% block body %}
    <h1>Login</h1>
    <p class="lead">Enter your email address and password to continue.</p>
    <hr>
    <form id="login_form" method="post" action="{{ login_url }}">
		{{ login_form.hidden_tag() }}
        {{ form_field(login_form.email, 'Email', errors_inline=True) }}
        {{ form_field(login_form.password, 'Password', errors_inline=True) }}
        {{ form_submit('Login') }}
    </form>
{% endblock %}
