{% extends "layout.html" %}

{% block title %}Page Not Found{% endblock %}

{% block body %}
    <h1>Page Not Found</h1>
    <p class="lead">If you clicked one of our links, then we screwed up, sorry.</p>
{% endblock %}
