body {
    padding-top: 50px;
}
.navbar-inner {
    background-color: #4a4d50;
}
div.subnav {
  margin: 0;
}
.navbar .brand {
    font-family: Sarina;
    font-size: 28px;
    padding: 15px 20px 15px;
}
#welcome-message {
    padding: 5px;
    text-shadow: 0 1px 0 #EEEEEE;
}
#main {
    margin-top: 50px;
}

#user_info, #user_info a {
    color: #FFF;
}
#user_info {
    padding-top: 11px;
    text-align: right;
    font-size: 90%;
    line-height: 1.1em;
    text-shadow: 0 1px 0 #080808;
}
#user_info a:hover {
    text-decoration: underline;
}
#user_info a.login {
    display: inline-block;
    margin-top: 8px;
}
#user_info .links {
    display: inline-block;
}
#user_info .links a {
    font-size: 90%;
    padding: 0;
    margin: 0;
}
#user_info .avatar {
    display: inline-block;
    padding-left: 10px;
}
#user_info .avatar img {
    vertical-align: text-bottom;
    border: 1px solid #FFFFFF;
}